{{> buttons/switch_env }}

<ul>
    {{# each lines }}
        <li><a href="/lines/{{ id }}{{# if devMode }}?mode=build{{ else }}?mode=dev{{/ if }}">{{ title }}</a></li>
    {{/each}}
</ul>

{{> buttons/back }}
