<div id="btn_switch_env" class="red-btn top-button">
    {{# if devMode }}
        <a href="?mode=build" class="btn">( build )</a>
    {{ else }}
        <a href="?mode=dev" class="btn">( dev )</a>
    {{/if}}
</div>
