<!doctype html>
<html>
<head>
    <title>Berth : {{ title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
<noscript>
    <style type="text/css">
        .container {display:none;}
        .ok {
            margin: 0;
            line-height:1;
        }
    </style>
    <div id="noscript">
        <p>Enable Javascript to view site :-)</p>
        <p class="ok">&nbsp;&nbsp;&nbsp;&nbsp;######&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;#</p>
        <p class="ok">&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;#</p>
        <p class="ok">&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;#</p>
        <p class="ok">&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;##</p>
        <p class="ok">&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;#</p>
        <p class="ok">&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;#</p>
        <p class="ok">&nbsp;&nbsp;&nbsp;&nbsp;######&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;#</p>
        <p></p>

        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
        <p>#########################</p>
    </div>
</noscript>
<div class="container">
    <div id="frame">
       {{{ body }}}
    </div>
</div>
</body>
</html>
