<ul id="legend">
    <li><a href="/welcome">Welcome</a></li>
    <li><a href="/lines">Lines</a></li>
    <li><a href="/interactions">Interactions</a></li>
    <li><a>Settings</a></li>
    <li><a href="/about">About</a></li>
    <li><a>&nbsp;</a></li>
    <li><a>&nbsp;</a></li>
    <li><a>&nbsp;</a></li>
    <li><a>&nbsp;</a></li>
    <li><a>&nbsp;</a></li>
</ul>

<script>
    const maxHeight = 1000;
    const legendItems = $('#legend li');

    let avgHeight = maxHeight / legendItems.length;
    let currentHeight = avgHeight;
    legendItems.each(function() {
        $(this).children('a').css('padding-top', currentHeight / 1.7 + 'px');
        $(this).children('a').css('padding-bottom', currentHeight / 1.7 + 'px');
        currentHeight /= 1.25;
    });
</script>