<div class="lodger" id="first">
    <h1>WELCOME</h1>
</div>

<div class="lodger" id="second">
    <h1>WELCOME</h1>
</div>

<div class="lodger" id="third">
    <h1>WELCOME</h1>

    <div id="door">
        <div id="enter"><a>_</a></div>
    </div>
</div>

<div class="lodger" id="fourth">
    <h1>WELCOME</h1>
</div>

{{> buttons/back }}

<script>
    const steps = ['#first', '#second', '#third', '#fourth'];
    let counter = 2;

    function enter() {
        counter ++;
        if (counter > 3) {
            counter = 0;
        }
        $('#door').detach().appendTo(steps[counter]);
    }

    $('#enter').click(enter);
</script>